.about {
  display: flex;
  padding-top: 60px;
  background-color: $primary-page-color;
  color: $secondary-text-color;
}

.about__uppertitle {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(22px / 18px);
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: $tablet) {
    font-weight: 800;
    font-size: 22px;
    line-height: calc(27px / 22px);
  }

  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: calc(37px / 30px);
  }
}

.about__title {
  margin-bottom: 22px;

  font-family: 'Seymour One';
  font-size: 30px;
  line-height: calc(38px / 30px);
  text-align: center;

  text-transform: uppercase;

  @media screen and (max-width: 767.98px) {
    padding: 0 55px;
    letter-spacing: 0.06em;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 72px;
    font-size: 34px;
    line-height: calc(43px / 34px);
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 81px;
    font-size: 36px;
    line-height: calc(45px / 36px);
  }
}

.about__wrapper {
  @media screen and (min-width: $tablet) {
    position: relative;
    display: flex;
    width: 704px;
   }

  @media screen and (min-width: $desktop) {
  width: 1168px;
}
}

.about__image {
  display: block;
  margin: 0 auto;
  max-height: 100%;

  @media screen and (max-width: 767.98px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: $tablet) {
    position: absolute;
    top: -15px;
    left: -20px;
      }

  @media screen and (min-width: $desktop) {
    top: -14px;
    left: -10px;
  }
}

.about__description {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  padding: 0 50px;
  margin: 0 auto;
  gap: 4px;
  text-align: center;
  letter-spacing: 0.04em;

  @media screen and (min-width: $tablet) {
    padding: 8px 0 20px 0;
    margin: 0;
    margin-left: auto;
    max-width: 336px;
    gap: 8px;
    text-align: start;
  }

  @media screen and (min-width: $desktop) {
    padding: 90px 0 86px 0;
     max-width: 463px;
   }
}

.about__paragraph-first {
  font-size: 12px;
  line-height: calc(21px / 12px);

  @media screen and (min-width: $desktop) {
    max-width: 463px;
    font-size: 16px;
    line-height: calc(28px / 16px);
  }
}

.about__paragraph-second {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: calc(19px / 12px);

  @media screen and (min-width: $tablet) {
    line-height: calc(21px / 12px);
    margin: 0;
  }

  @media screen and (min-width: $desktop) {
    max-width: 463px;
    font-size: 14px;
    line-height: calc(27px / 14px);
  }
}

.about__paragraph-third {
  @media screen and (max-width: 767.98px) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 29px;
    font-size: 12px;
    line-height: calc(23px / 12px);
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 46px;
    max-width: 463px;
    font-size: 14px;
    line-height: calc(27px / 14px);
  }
}

.about__button {
  margin: 0 auto;
  min-width: 164px;
  padding: 12px 0;
  gap: 4px;

  @media screen and (min-width: $tablet) {
    margin-left: 0;
  }
}

.button__icon {
  fill: currentColor;
}
