

.address {
  background-image: linear-gradient(to bottom,
      transparent 353px,
      $primary-page-color 353px,
      $primary-page-color );
}


.contacts-list {
margin: 0 auto;

  @media screen and (min-width: $mobile) {
    width: 280px;
    margin-bottom: 16px;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 0;

    @media screen and (min-width: $desktop) {
      gap: 32px;
      margin-bottom: 0;
    }
  }

  &__item {
    
    text-align: left;
    width: 280px;
    padding: 40px 32px;
    margin-bottom: 16px;
    background-color: $secondary-text-color;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    @media screen and (min-width: $tablet) {
      width: 224px;
      margin-bottom: 0;
      padding: 40px 24px;

    }
    @media screen and (min-width: $desktop) {
      width: 368px;
      margin-bottom: 0;
      padding: 40px 40px;
    }
  }

  &__category {
    display: inline-block;
    margin-bottom: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    padding: 4px 22px;

    text-align: center;
    letter-spacing: 0.04em;

    color: $primary-text-color;
    background-color:$accent-color;
    border-radius: 4px;

    @media screen and (min-width: $tablet) {
      font-size: 16px;
      margin-bottom: 32px;
      padding: 4px 14px;
    }
  }

  &__wrapper {
    margin-bottom: 48px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 64px;
    }
  }


  &__location {
    padding-bottom: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;

    letter-spacing: 0.04em;

    color: $primary-text-color;

    @media screen and (min-width: $tablet) {
      font-size: 14px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 16px;
    }
  }

  &__link {
    padding-bottom: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 183%;

    letter-spacing: 0.04em;

    color: $address-text-color;
    &::after {
        display: inline-block;
        content: "";
        width: 216px;
        height: 1px;
        background-color: rgba(225, 225, 225, 1);
      }

    @media screen and (min-width: $tablet) {
      font-size: 14px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 16px;
    }
  }
}

.contacts-time {
  margin-bottom: 48px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 64px;
  }

  &__item {
    padding-bottom: 8px;
  }
  &__item:nth-child(2) {
    padding-bottom: 0;
  }

  &__day {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;

    color: $primary-text-color;
    

    @media screen and (min-width: $tablet) {
      font-size: 14px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 16px;
    }
  }

  &__time {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;

    color: $time-text-color;

    @media screen and (min-width: $tablet) {
      font-size: 14px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 16px;
    }
  }
}

.contacts {


  &__item {
    padding-bottom: 6px;
  }

  &__item:nth-child(2) {
    padding-bottom: 0;
  }

  &__link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;

    color: $primary-text-color;

    @media screen and (min-width: $tablet) {
      font-size: 14px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 16px;
    }
  }
}


.button-wrapper{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
 justify-content: center;
 gap: 16px;

@media screen and (min-width: $tablet) {
    flex-wrap: nowrap;
    margin-top: 40px;
  }

  @media screen and (min-width: $desktop) {
  flex-wrap: nowrap;
    margin-top: 60px;
  }
}

.button-arrow{
  fill: #000000;
}