.reviews {
  padding-top: 40px;
  padding-bottom: 40px;
}
// .slider {
//   // display: flex;
// }
.slider__item {
  @include flex_centering;
  flex-direction: column;
  @media screen and (min-width: $mobile) {
    width: 280px;
  }
  @media screen and (min-width: $tablet) {
    width: 704px;
  }
  &--photo {
    width: 85px;
    margin-bottom: 32px;
    border-radius: 44px;
  }
  &--review {
    padding: 35px 39px;
    margin-bottom: 32px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(31 / 12);

    background-color: $primary-page-color;
    color: $secondary-text-color;
    text-align: center;
    border-radius: 10px;
    @media screen and (min-width: $tablet) {
      padding-top: 28px;
      padding-right: 80px;
      padding-left: 80px;
      padding-bottom: 29px;
      border-radius: 24px;

      font-weight: 500;
      font-size: 14px;
      line-height: calc(26 / 14);
      letter-spacing: 0.04em;
    }
  }
  &--name {
    margin-bottom: 12px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(37 / 20);
  }
}
