.gallery__slideshow {
  margin: 0 auto;
  object-fit: contain;
  overflow: hidden;
  position: relative;
  z-index: +10;
  object-position: center;
}
.slideshow-mobile {
  width: 280px;
  height: 130px;
  border-radius: 8px;
  top: -32px;
  @media screen and (min-width: 767px) {
    display: none;
  }
}
.slideshow-tablet {
  width: 704px;
  height: 327px;
  border-radius: 18px;
  top: -144px;

  display: none;
  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    display: block;
  }
}

.slideshow-desktop {
  width: 1013px;
  height: 422px;
  border-radius: 24px;
  top: -98px;

  display: none;
  @media screen and(min-width: $desktop) {
    display: block;
  }
}

.slideshow-mobile ul,
.slideshow-tablet ul,
.slideshow-desktop ul {
  width: 400%;
  height: 100%;
}

.slideshow-mobile li,
.slideshow-tablet li,
.slideshow-desktop li {
  float: left;
}
