.gallery {
  position: relative;
  padding-bottom: 138px;
  @media screen and (min-width: $tablet) {
  padding-bottom: 243px;
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 424px;
  }
}
.slideshow {
  margin: 0 auto;
  position: absolute;
  top: -26px;
  z-index: +10;
  height: 130px;
  @media screen and (min-width: $mobile) {
    width: 280px;
  }
  @media screen and (min-width: $tablet) {
    width: 704px;
    height: 327px;
    top: -141px;
  }
  @media screen and (min-width: $desktop) {
    width: 1013px;
    height: 422px;
    top: -96px;
    left: 94px;
  }
  &__item {
    padding-left: 2px;
    padding-right: 2px;
  }
  &__item img {
    @include flex_centering;
    border-radius: 8px;
    height: 130px;
    object-fit: fill;
    @media screen and (min-width: $mobile) {
      width: 280px;
    }
    @media screen and (min-width: $tablet) {
      width: 704px;
      height: 327px;
      border-radius: 18px;
    }
    @media screen and (min-width: $desktop) {
      width: 1013px;
      height: 422px;
      border-radius: 24px;
    }
  }
  & .slick-arrow {
    position: absolute;
    transform: translateY(-60px);
    top: 50%;
    z-index: 11;
    font-size: 0;
    width: 35px;
    height: 140px;
    padding: 40px 10px;
  }
  & .slick-arrow.slick-prev {
    left: 0;

    border: none;
    background-color: transparent;
  }
  & .slick-arrow.slick-next {
    right: 0;

    border: none;
    background-color: transparent;
  }
}
.slideshow .slick-slide {
  overflow: hidden;
}