header {
  background-color: $primary-page-color;
  padding-top: 12px;
  padding-bottom: 12px;
  @media screen and (min-width: $tablet) {
    padding-top: 20px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.header-container {
  display: flex;
  align-items: center;
}

.nav {
  @media screen and (min-width: $mobile) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    display: block;
    margin-left: 308px;
  }
}

.nav__list {
  @include flex_grid(4, 28px);
}

.nav__link {
  color: $secondary-text-color;

  transition: color $anim-std;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.nav__btn {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
    padding: 12px 36px;
    margin-left: auto;
  }
}

// MOBILE MENU

.mobile-menu__link {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;

  color: $secondary-text-color;

  &.streaming-link {
    color: $primary-text-color;
  }
}
//
.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.mobile-menu__btn{
  color: #fff;
}

.mobile-menu__icon{
  fill: currentColor;
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;

  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  @media screen and (min-width: $tablet) {
    margin-right: 32px;
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
