.hero {
  background-color: $primary-page-color;
  background-image: url(../images/hero/dots_mob@1x.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  // background-size: contain;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero/dots_mob@2x.png);
  }
  @media screen and (min-width: $tablet) {
    background-image: url(../images/hero/dots_tab@1x.png);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero/dots_tab@2x.png);
  }
  @media screen and (min-width: $desktop) {
    background-image: url(../images/hero/dots_desktop.png);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero/dots_desktop2x.png);
  }
  &__container {
    position: relative;
    padding-bottom: 236px;
    padding-top: 38px;
    @media screen and (min-width: $tablet) {
      padding-bottom: 183px;
      padding-top: 14px;
    }
    @media screen and (min-width: $desktop) {
      padding-bottom: 334px;
      padding-top: 33px;
    }
  }
}
.hollow-button__hero {
  @media screen and (max-width: $tablet) {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: calc(15 / 12);
    text-align: center;
    padding: 10px 22px;
  }
  @media screen and (min-width: $desktop) {
    min-width: 134px;
    padding: 11px 30px;
  }
}

.hero__btn--group {
  display: flex;
  gap: 16px;
  @media screen and (min-width: $desktop) {
    gap: 32px;
  }
}
.hero__tablet--group {
  @media screen and (min-width: $tablet) {
    position: absolute;
    display: flex;
    gap: 12px;
    bottom: 12px;
    align-items: flex-end;
    z-index: 3;
    @media screen and (min-width: $desktop) {
      bottom: 65px;
    }
  }
}
.hero_ic--left {
  @media screen and (max-width: $tablet) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    display: block;
  }
}
.hero_ic--right {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  transform: translateX(-40%);
  @media screen and (min-width: $mobile) {
    left: 83px;
    transform: translateX(0);
  }
  @media screen and (min-width: $tablet) {
    left: 408px;
  }
  @media screen and (min-width: $desktop) {
    left: 652px;
  }
}
.hero__title {
  max-width: 357px;
  color: $secondary-text-color;
  font-family: Seymour One;
  font-size: 26px;
  line-height: calc(33 / 26);
  text-transform: uppercase;
  margin-bottom: 32px;
  @media screen and (min-width: $mobile) {
    width: 247px;
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 38px;
    line-height: calc(48 / 38);
    width: 367px;
    margin-bottom: 28px;
  }
}

.hero__title--passion {
  font-size: 34px;
  line-height: calc(33 / 34);
  @media screen and (min-width: $desktop) {
    font-size: 38px;
    line-height: calc(48 / 38);
  }
}

.hero__group {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.hero__chain {
  @media screen and (max-width: $tablet) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    display: block;
    margin-left: auto;
    margin-top: 28px;
  }
}
.chain__number {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 900;
  line-height: calc(34 / 28);
  letter-spacing: 0.04em;
  text-align: right;
  @media screen and (min-width: $desktop) {
    font-size: 46px;
    line-height: calc(56 / 46);
  }
}
.chain__item {
  text-align: end;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.chain__text {
  font-family: Montserrat;
  font-size: 8px;
  font-weight: 400;
  line-height: calc(10 / 8);
  letter-spacing: 0em;
  color: $secondary-text-color;
  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}
.hero__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(17 / 12);
  color: $secondary-text-color;
  margin-bottom: 12px;
  @media screen and (min-width: $tablet) {
    width: 146px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: calc(20 / 14);
    width: 200px;
  }
}

.hero__arrow {
  display: block;
  fill: $secondary-text-color;
  transition: $anim-std;
  &:hover,
  &:focus {
    fill: #0a8817;
  }
}
.arrow__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding-left: 0;
  margin-bottom: 12px;
}
.hero__text--group {
  @media screen and (max-width: $tablet) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    display: block;
  }
  @media screen and (min-width: $desktop) {
  }
}
