// Розмічаю стандартні налаштування секції

.products {
padding: 60px 0;
align-items: center;
}

.products__examples {
    @include flex_centering(flex);
    flex-direction: column;
    gap: 30px;

    @media screen and (min-width: $tablet) {
        @include flex-grid (3, 16px);
        flex-direction: row;
    }
        @media screen and (min-width: $desktop) {
            @include flex-grid (3, 29px);
     }
    //  margin-bottom: 168px;
}

// Головний тайтл
.products__title {
    font-family: 'Seymour One', sans-serif;
    color: $sub-title-color;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.27;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 148px;

    @media screen and (min-width: $tablet) {
        font-size: 34px;
        line-height: 1.26;
        margin-bottom: 200px;
    }

    @media screen and (min-width: $desktop) {
        font-size: 36px;
        line-height: 1.25;
        letter-spacing: 0.06em;
        margin-bottom: 303px;
    }
}

.products__title-label {
    font-family: 'Montserrat', sans-serif;
    display: block;
    text-align: center;
    color: $sub-title-color;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;
    margin-bottom: 12px;


    @media screen and (min-width: $tablet) {
        font-size: 22px;
        line-height: 1.23;
    }

    @media screen and (min-width: $desktop) {
        font-size: 30px;
        line-height: 1.23;
        letter-spacing: 0.04em;
    }
}

.products button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 10px;
}

.products__card-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-top: 123px;
    padding-left: 40px;
    padding-right: 40px;
    @media screen and (min-width: $desktop){
        padding-top: 108px;
    }

    @media screen and (min-width: $desktop){
        padding-top: 153px;
    }

  

    &:not(:last-child){
    margin-bottom: 168px;
    @media screen and (min-width: $tablet){
        margin-bottom: 0;
    }
 

}
   
    min-height: 420px;
    border-radius: 24px;

    @media screen and (min-width: $mobile){
        width: 440px;
    }
  
    @media screen and (min-width: $tablet){
        width: 100%;
        padding-left: 26px;
        padding-right: 26px;
        min-height: 428px;
        margin-bottom: 0;
    }
    @media screen and (min-width: $desktop){
        padding-left: 64px;
        padding-right: 64px;
        height: 536px;
    }


   
    &::after {
        content: '';
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: $ice-cream-card-color;
        top: -132px;
        left: 50%;
        transform: translateX(-50%);
        @media screen and (min-width: $desktop){
            width: 302px;
            height: 302px;
            top: -185px;
            

        }
    }

    &.ice-cream::after {
        background-image: url('/src/images/products/ice-cream_1х.png');
        box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
        background-repeat: no-repeat;
        background-size: contain;
        
    }

    &::before {
        content: '';
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: $ice-cream-card-color;
        top: -120px;
        left: 50%;
        transform: translateX(-50%);

        @media screen and (min-width: $tablet){

            top: -121px;
            

        }

        @media screen and (min-width: $desktop){
            width: 302px;
            height: 302px;
            top: -169px;
            

        }



    }

    &.ice-cream::before {
        background: linear-gradient(0deg,
                rgba(156, 190, 143, 0.7),
                rgba(156, 190, 143, 0.7)),
            #d9d9d9;
        box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
    }

    &.ice-coffee::after {
        background-image: url('/src/images/products/ice-coffee_1х.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    &.ice-coffee::before {
        background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
            box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
    }

    &.milkshakes::after {
        background-image: url('/src/images/products/milkshakes_1х.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    &.milkshakes::before {
        background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
            box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
    }
}

.ice-cream {
    background-color: $ice-cream-card-color;
}

.ice-coffee {
    background-color: $ice-coffee-card-color;
}

.milkshakes {
    background-color: $milkshake-card-color;
}

// Розмічаю картки
//Тайтл
.products__examples-title {
    font-family: 'Montserrat', sans-serif;
    color: $sub-title-color;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 40px;

    @media screen and (min-width: $tablet) {
        font-size: 22px;
        line-height: 1.23;
    }

    @media screen and (min-width: $desktop) {
        font-size: 30px;
        line-height: 1.23;
    }
}

//Дескріпшн
.products__examples-discription {
    font-family: 'Montserrat', sans-serif;
    color: $sub-title-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 176%;
    letter-spacing: 0.04em;
    text-align: center;

    @media screen and (min-width: $desktop) {
        font-size: 16px;
    }
}
.products-btn{
    fill: currentColor;
    box-shadow: $shadow transparent;
    transition: fill $anim-std, box-shadow $anim-std ;
   

    &:hover, &:focus{
        fill: #947575;


    }
}