/* ==================Body Styles==================== */

html {
  scroll-behavior: smooth;
}
body {
  background-color: $secondary-page-color;
  color: $primary-text-color;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.04em;
  line-height: calc(25px / 14px);
  margin: 0 auto;

  background-image: url('../images/body/bg-body-sm.jpg');
  background-size: 885px 1242px;
  object-fit: cover;
  z-index: -10;

  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/body/bg-body-sm@2x.jpg');
	
  }

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.37;
    background-image: url('../images/body/bg-body-md.jpg');
	background-size: 963px 1017px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/body/bg-body-md@2x.jpg');
	
    
    }

    @media screen and (min-width: $desktop) {
      background-image: url('../images/body/bg-body-big.jpg');
	  background-size: 1278px 1330px;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/body/bg-body-big@2x.jpg');
		
      }
    }
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.button-scroll{
  width: 36px;
  height: 36px;
  display: block;
  border-radius: 50%;
  position: fixed;
  right: 40px;
  bottom:25px;
  fill:currentColor;
  z-index: 10;
  padding: 3px;

  display: flex;
 
  justify-content: center;

  background-color:rgba(122, 122, 122,0.5);
  outline: 2px solid $ice-coffee-card-color;
  box-shadow: 0px 0px 48px -9px rgba(0,0,0,0.51);
  transition: background-color $anim-std 50ms, outline $anim-std 50ms;
  &:hover{
    background-color: rgba(122, 122, 122,0.5);
    outline: 2px solid $accent-color;
  }

}
.scroll-btn{
  object-fit: contain;
  width: 100%;
  height: 100%;
  fill: $ice-coffee-card-color;
  transition: fill $anim-std;
  &:hover{
    fill: $accent-color;
    
  }

}
