// @import './common';
// @import './example';
// Breakpoints
@import './utilities/breakpoints';
// Vars
@import './utilities/vars';
// Animation
@import './utilities/animation';
// mixins
@import './utilities/mixins';

// utils
@import './utilities/utilities';
@import './utilities/reset';
@import './base/backdrop';
// Buttons
@import './elements/buttons';
@import './elements/formfield';
@import './base/typograthy';
// base Site
@import './base/body';
@import './base/container';
// main Part
@import './sections/header';
@import './sections/hero';
@import './sections/products';
@import './sections/about';
@import './sections/advantages';
@import './sections/gallery';
@import './sections/customer-reviews';
@import './sections/addresses';
@import './sections/footer';
// modals
@import './sections/modals/buy-now';
@import './sections/modals/ingredients';
@import './sections/modals/read-more';
@import './sections/modals/locations';
@import './sections/modals/franchise';

