.modal__franchise {
  position: relative;
  top: 20px;
  // top: 50%;
  // left: 50%;
  padding: 28px;
  width: 280px;
  transform: scale(1);
  opacity: 1;
  transition: transform $anim-std, opacity $anim-std;

  .backdrop.is-hidden & {
    opacity: 0;
    transform: scale(0);
  }

  text-align: center;

  @media screen and (min-width: $tablet) {
    width: 568px;
  
    padding: 32px 60px;
  }

  background: $secondary-page-color;
  border: $border_std $accent-color;
  border-radius: 10px;
}

.modal__btn--close {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: none;
}

.franchise__label {
  display: block;
  margin-bottom: 20px;

  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.01em;
  text-align: center;

  color: $primary-text-color;

  @media screen and (min-width: $tablet) {
    width: 322px;

    font-size: 20px;
    line-height: calc(28 / 20);
    margin: 0 auto 24px auto;
  }
}

.franchise__warning {
  display: block;

  margin-bottom: 24px;

  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;

  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-align: left;

  color: $primary-text-color;

  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
    width: 448px;
    font-size: 16px;
    letter-spacing: -0.01em;
  }
}
.franchise__form{
  width: 224px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 auto;
  @media screen and (min-width: $tablet) {
    width: 368px;
    gap: 16px;}
 
}
.form__field {
  padding: 8px 12px 7px 12px;

  margin: 0 auto;

  font-size: 12px;
  line-height: 140%;
  color: $primary-text-color;

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $primary-page-color;
  border-radius: 10px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  height: 32px;

  // transition: outline $anim-std;

  @media screen and (min-width: $tablet) {
    padding: 11px 16px;
    height: 42px;


    font-size: 14px;
  }

}

.form__message {

  height: 64px;
  padding: 8px 12px 7px 12px;
 

  resize: none;

  font-size: 12px;
  line-height: 140%;
  color: $primary-text-color;

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $primary-page-color;
  border-radius: 10px;
  outline: 1px solid transparent;
  outline-offset: -1px;

  // transition: outline $anim-std;

  &:hover,
  &:focus {
    outline-color: #0a8817;
  }

  &:disabled {
    outline-color: $time-text-color;
  }

  &::placeholder {
    color: $primary-text-color;
  }

  @media screen and (min-width: $tablet) {
    width: 368px;
    height: 84px;
    padding: 11px 16px;


    font-size: 14px;
  }
}

.franchise__btn {
  display: block;
  margin: 0 auto;
  padding: 10.5px 0;
  min-width: 114px;
  margin-top: 16px;
  

  @media screen and (min-width: $tablet) {
    min-width: 121px;
    padding: 10px 30px;
  }
}
