.ingredients {
  width: 280px;
  height: 968px;
  box-sizing: border-box;

  background-color: $secondary-page-color;
  outline: $border_std $accent-color;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  padding: 28px 20px;
  position: sticky;
  transform: translateY(0);
  opacity: 1;
  transition: transform $anim-std 150ms, opacity $anim-std 100ms;

  .backdrop.is-hidden & {
    opacity: 0;
    transform: translateY(-30%);
  }
    max-height: 92%;
  overflow-y:scroll;

  @media screen and (min-width: $tablet) {
    width: 568px;
    height: 996px;
    padding: 32px 40px;
  }
}
.ingredients__clz-btn {
  position: absolute;
}

.ingredients__title {
  font-family: 'Seymour One';
  color: $primary-text-color;
  font-size: 20px;
  line-height: calc(28px / 20px);
  text-transform: none;

  margin-bottom: 27px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 31px;
  }
}

.Ingredients__illustration {
  display: inline-block;
  border-radius: 50%;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  margin-bottom: 13px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 24px;
  }
}
.Ingredients__image {
  position: relative;
  top: -7px;
}
.calories {
  margin: 0 auto;
  @include flex_grid(4, 8px);

  color: $primary-text-color;
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12px / 10px);

  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    @include flex_grid(4, 20px);
    width: 320px;
    font-size: 12px;
    line-height: calc(15px / 12px);
    margin-bottom: 48px;
  }
}

.calories__item {
  @include flex_grid(2, 8px);
  justify-content: center;
  flex-direction: column;
  border: $border_std #9cbe8f;
  border-radius: 40px;
  text-align: center;

  padding-bottom: 8px;

  @media screen and (min-width: $tablet) {
    @include flex_grid(2, 10px);
    padding-bottom: 15px;
  }
}

.calories__weight {
  position: relative;
  top: -2px;
  @include flex_centering;
  align-self: center;

  font-weight: 500;
  font-size: 10px;
  line-height: calc(28px / 10px);

  border-radius: 50%;
  width: 43px;
  height: 43px;
  background: #9cbe8f;
  border: 2px solid #9cbe8f;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: calc(28px / 12px);
    width: 53px;
    height: 53px;
  }
}

.ingredients__dscr {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(28px / 20px);
  padding-bottom: 24px;
}
.ingredients-list {
  margin: auto;
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
  @media screen and (min-width: $tablet) {
    width: 488px;
    margin-bottom: 48px;
  }
}
.ingredients-list__product {
  text-align: left;
}
.ingredients-list__weight {
  text-align: right;
}
.ingredients-list__item:not(:last-child) {
  margin-bottom: 11px;
}
.ingredients-form {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  // margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: $tablet) {
    width: 368px;
    // margin-bottom: 32px;
  }
}

.ingredients-form__username,
.ingredients-form__telephone,
.ingredients-form__comments {
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  padding: 11px 16px;
  font-family: inherit;
  box-shadow: none;
  transition: box-shadow $anim-std 150ms, border-color $anim-std;
  &::placeholder {
    color: $primary-text-color;
  }
}

.ingredients-form__comments {
  resize: none;
  height: 84px;
  
  transition: box-shadow $anim-std 150ms, border-color $anim-std;
  
  &:focus, &:hover{
    outline: transparent;
    border-color: rgba(248, 210, 78, 0.7);
    box-shadow: 0 0 2px 3px rgba(248, 172, 78, 0.1);

  }

}

.ingredients__button {
  margin: 24px auto 0 auto;
  @media screen and (min-width:$tablet){
    margin: 32px auto 0 auto;
  }
 
}


input:focus, input:hover{

  outline: transparent;
  border-color: $accent-color;
  box-shadow: 0 0 2px 3px rgba(248, 172, 78, 0.1);
}