.ingredients {
  width: 280px;
  box-sizing: content-box;
  position: relative;
  user-select: none;

  top: 20px;

  background-color: $secondary-page-color;
  outline: $border_std $accent-color;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  padding: 28px 20px;
  transform: scale(1);
  opacity: 1;
  transition: transform $anim-std , opacity $anim-std ;

  .backdrop.is-hidden & {
    opacity: 0;
    transform: scale(0);
  }

  @media screen and (min-width: $tablet) {
    width: 568px;
    padding: 32px 40px;
  }
}
.ingredients__clz-btn {
  position: absolute;
}

.ingredients__title {
  font-family: 'Seymour One';
  color: $primary-text-color;
  font-size: 20px;
  line-height: calc(28px / 20px);
  text-transform: none;

  margin-bottom: 27px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 31px;
  }
}

.Ingredients__illustration {
  display: inline-block;
  border-radius: 50%;

  margin-bottom: 13px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 24px;
  }
}
.green {
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}
.yellow {
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
}
.red {
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
}

.Ingredients__image {
  position: relative;
  top: -7px;
}
.calories {
  margin: 0 auto;
  @include flex_grid(4, 8px);
  width: 240px;

  color: $primary-text-color;
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12px / 10px);

  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    @include flex_grid(4, 20px);
    width: 320px;
    font-size: 12px;
    line-height: calc(15px / 12px);
    margin-bottom: 48px;
  }
}

.calories__item {
  @include flex_grid(2, 8px);
  justify-content: center;
  flex-direction: column;
  
  border-radius: 40px;
  text-align: center;

  padding-bottom: 8px;

  @media screen and (min-width: $tablet) {
    @include flex_grid(2, 10px);
    padding-bottom: 15px;
  }
  &--green{
    border: $border_std #9cbe8f;
  }
  &--yellow{
    border: $border_std #EFD478;
  }
  &--red{
    border: $border_std #D6936D
    ;
  }
}

.calories__weight {
  position: relative;
  top: -2px;
  @include flex_centering;
  align-self: center;

  font-weight: 500;
  font-size: 10px;
  line-height: calc(28px / 10px);

  border-radius: 50%;
  width: 43px;
  height: 43px;


  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: calc(28px / 12px);
    width: 53px;
    height: 53px;
  }
}
.calories-green{
  background: #9cbe8f;
  border: 2px solid rgb(156, 190, 143);
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);

}
.calories-yellow{
  background:#EFD478;
  border: 2px solid#EFD478;
  box-shadow: 0px 6px 20px rgba(214, 167, 15, 0.462);

}
.calories-red{
  background: #D6936D;
  border: 2px solid #D6936D;
  box-shadow: 0px 6px 20px rgba(181, 83, 25, 0.5);

}
.ingredients__dscr {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(28px / 20px);
  padding-bottom: 24px;
}
.ingredients-list {
  margin: auto;
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
  @media screen and (min-width: $tablet) {
    width: 488px;
    margin-bottom: 48px;
  }
}
.ingredients-list__product {
  text-align: left;
}
.ingredients-list__weight {
  text-align: right;
}
.ingredients-list__item:not(:last-child) {
  margin-bottom: 11px;
}
.ingredients-form {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: $tablet) {
    width: 368px;
  }
}

.ingredients-form__comments {
  resize: none;
  height: 84px;
} 

.ingredients__button {
  margin: 24px auto 0 auto;
  padding: 10px 0;
  min-width: 132px;
  

  @media screen and (min-width: $tablet) {
    margin: 32px auto 0 auto;
    min-width: 121px;

  }
}
