.button {
  min-width: 152px;
  min-height: 42px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17px / 14px);
  @include flex_centering;
  text-align: center;
  color: $black-text-color;

  cursor: pointer;

  padding: 12px 24px;
  border-radius: 10px;
  background-color: $accent-color;
  border-color: transparent;
  transition: background-color $anim-std, color $anim-std;

  &:hover {
    background-color: #0a8817;
  }
  &:focus {
    background-color: #0a8817;
    color: $secondary-text-color;
  }
  &:disabled {
    background-color: #ababab;
    color: $black-text-color;
  }
}
.hollow-button {
  min-width: 152px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18px / 14px);
  @include flex_centering;
  text-align: center;
  color: $black-text-color;

  cursor: pointer;

  padding: 12px 24px;
  border-radius: 10px;
  background-color: transparent;
  border: $border_std $accent-color;
  transition: background-color $anim-std, color $anim-std, fill $anim-std;

  &:hover {
    border-color: #0a8817;
    fill: currentColor;
  }
  &:focus {
    border-color: #0a8817;
    color: $secondary-text-color;
    fill: currentColor;
  }
  &:disabled {
    border-color: #ababab;
    color: $black-text-color;
    fill: currentColor;
  }
  @media screen and (max-width: $tablet) {
    padding: 11px 26px;
    min-width: 108px;
  }
}
.button-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15px/12px);
  text-decoration-line: underline;
  text-align: center;

  color: $accent-color;

  @include flex-centering;
  background-color: transparent;
  border: none;
  transition: color $anim-std, fill $anim-std;

  &:hover {
    color: #0a8817;
    fill: currentColor;
  }
  &:focus {
    color: $secondary-text-color;
    fill: currentColor;
  }
  &:disabled {
    color: #ababab;
    fill: currentColor;
  }
  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: calc(17px / 14px);
  }
}


.modal__close-btn {
	top: 12px;
	right: 12px;
	width: 20px;
	height: 20px;
	border: none;
  padding: 0;
	background-color: inherit;
	cursor: pointer;
	@include flex_centering(inline-flex);
  fill: $primary-text-color;

	transition: fill $anim-std;
	 &:hover{
		fill: $accent-color;
	 }
}