.formfield{
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
    padding: 12px 16px;
    width: 100%;
    font-family: inherit;
    box-shadow: none;
    
   @media screen and (min-width:$tablet){
    padding: 11px 16px;

   }

    transition: box-shadow $anim-std 150ms, border-color $anim-std;
    &::placeholder {
      color: $primary-text-color;
    }
    transition: box-shadow $anim-std 150ms, border-color $anim-std;
  
    &:focus, &:hover, &:not(:placeholder-shown){
      outline: transparent;
      border-color: rgba(248, 210, 78, 0.7);
      box-shadow: 0 0 2px 3px rgba(248, 172, 78, 0.1);
  
    }
    input:focus, input:hover{

        outline: transparent;
        border-color: $accent-color;
        box-shadow: 0 0 2px 3px rgba(248, 172, 78, 0.1);
      }
      &:focus, &:not(:placeholder-shown) {
        border-color: $accent-color;
      }
 
      &:not(:placeholder-shown):invalid {
        background-color: rgb(255, 0, 0, 0.1);
      }
      &:not(:placeholder-shown):valid{
        background-color: rgba(132, 161, 120, 0.1);}
    
}