/* ==================Local Resets==================== */
h1,
h2,
h3,
h4,
ul,
li,
p {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}

.is-hidden {
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
}
.section {
    @media screan and (min-width: $tablet) {
        padding: 0 32px;
        
    }


}

.link {
	text-decoration: none;
	color: inherit;
}
