/* ==================Variables==================== */
// Typography
$primary-text-color: #131313;
$secondary-text-color: #FCFCFC;
$address-text-color: #D6936D;
$time-text-color: #ABABAB;
$black-text-color: #000000;


// page color pallet

$primary-page-color: #84A178;
$secondary-page-color: #FCFCFC;
$accent-color: #F8D24E;
$second-accent-color:#D6936D;
$primary-dots-color: #D9D9D9;
$page-lines: rgba(225, 225, 225, 1);
$shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);

// utilities


$border_std: 2px solid

