<section class="about divide">
  <div class="about__container container">
    <p class="about__uppertitle">tradition and love</p>
    <h1 class="about__title title">how it’s made?</h1>
    <div class="about__wrapper">
      <img
        class="about__image"
        srcset="
          ./images/about/cow_280@1x.png 280w,
          ./images/about/cow_330@1x.png 330w,
          ./images/about/cow_491@1x.png 491w,
          ./images/about/cow_560@2x.png 560w,
          ./images/about/cow_660@2x.png 660w,
          ./images/about/cow_982@2x.png 982w
        "
        sizes="(min-width: 1200px) 491px, (min-width: 768px) 330px, (min-width: 320px) 280px, 100vw"
        src="./images/about/cow_491@1x.png"
        alt="A gray cow grazes on a meadow"
        loading="lazy"
      />

      <div class="about__description">
        <p class="about__paragraph-first">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
        <p class="about__paragraph-second">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
        <p class="about__paragraph-third">
          This is enough to choose ice cream and coffee for any mood!
        </p>
        <button
          read-modal-open
          class="about__button button"
          data-target="#myModal"
          type="button"
        >
          Read more
          <svg class="button__icon" width="12" height="12">
            <use href="./images/ice-cream-vectors.svg#button-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
