<section class="section address" id="addresses">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts-list list">
      <li class="contacts-list__item">
        <p class="contacts-list__category">cafe</p>
        <address class="contacts-list__address">
          <div class="contacts-list__wrapper">
            <p class="contacts-list__location">Chicago</p>
            <a
              class="contacts-list__link link"
              href="https://goo.gl/maps/dM6Mv4SSJ1mdc9dk9"
              target="_blank"
              rel="noopener noreferrer"
              >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
            >
          </div>

          <ul class="contacts-time list">
            <li class="contacts-time__item">
              <p class="contacts-time__day">Monday - Friday</p>
              <time class="contacts-time__time" datetime="06:00 AM"
                >06:00 AM -
              </time>
              <time class="contacts-time__time" datetime="10:00 PM"
                >10:00 PM</time
              >
            </li>
            <li class="contacts-time__item">
              <p class="contacts-time__day">Saturday - Sunday</p>
              <time class="contacts-time__time" datetime="08:00 AM"
                >08:00 AM -
              </time>
              <time class="contacts-time__time" datetime="16:00 PM"
                >16:00 PM</time
              >
            </li>
          </ul>
          <ul class="contacts list">
            <li class="contacts__item">
              <a class="contacts__link link" href="tel:+61(0)38376684"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts__item">
              <a class="contacts__link link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <li class="contacts-list__item">
        <p class="contacts-list__category">foodtruck</p>
        <address class="contacts-list__address">
          <div class="contacts-list__wrapper">
            <p class="contacts-list__location">Los Angeles</p>
            <a
              class="contacts-list__link link"
              href="https://goo.gl/maps/mjY8kLW36mrSW6u26"
              target="_blank"
              rel="noopener noreferrer"
              >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
            >
          </div>

          <ul class="contacts-time list">
            <li class="contacts-time__item">
              <p class="contacts-time__day">Monday - Friday</p>
              <time class="contacts-time__time" datetime="06:00 AM"
                >06:00 AM -
              </time>
              <time class="contacts-time__time" datetime="10:00 PM"
                >10:00 PM</time
              >
            </li>
            <li class="contacts-time__item">
              <p class="contacts-time__day">Saturday - Sunday</p>
              <time class="contacts-time__time" datetime="08:00 AM"
                >08:00 AM -
              </time>
              <time class="contacts-time__time" datetime="16:00 PM"
                >16:00 PM</time
              >
            </li>
          </ul>
          <ul class="contacts list">
            <li class="contacts__item">
              <a
                class="contacts__link link"
                href="tel:+61(0)38376684"
                class="link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts__item">
              <a
                class="contacts__link link"
                href="mailto:noreply@envato.com"
                class="link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <li class="contacts-list__item">
        <p class="contacts-list__category">cafe</p>
        <address class="contacts-list__address">
          <div class="contacts-list__wrapper">
            <p class="contacts-list__location">New York</p>
            <a
              class="contacts-list__link link"
              href="https://goo.gl/maps/95xcNGEA3H7m96oG6"
              target="_blank"
              rel="noopener noreferrer"
              >726 Sterling Pl, Brooklyn, NY 11222, USA</a
            >
          </div>

          <ul class="contacts-time list">
            <li class="contacts-time__item">
              <p class="contacts-time__day">Monday - Friday</p>
              <time class="contacts-time__time" datetime="06:00 AM"
                >06:00 AM -
              </time>
              <time class="contacts-time__time" datetime="10:00 PM"
                >10:00 PM</time
              >
            </li>
            <li class="contacts-time__item">
              <p class="contacts-time__day">Saturday - Sunday</p>
              <time class="contacts-time__time" datetime="08:00 AM"
                >08:00 AM -
              </time>
              <time class="contacts-time__time" datetime="16:00 PM"
                >16:00 PM</time
              >
            </li>
          </ul>
          <ul class="contacts list">
            <li class="contacts__item">
              <a
                class="contacts__link link"
                href="tel:+61(0)38376684"
                class="link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts__item">
              <a
                class="contacts__link link"
                href="mailto:noreply@envato.com"
                class="link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
    </ul>
    <ul class="button-wrapper">
      <li>
        <button
          type="button"
          class="button address__button"
          location-modal-open
        >
          Our Locations
          <svg class="button-arrow" width="12" height="12">
            <use href="./images/ice-cream-vectors.svg#button-arrow"></use>
          </svg>
        </button>
      </li>
      <li>
        <button
          type="button"
          class="hollow-button address__button"
          franchise-modal-open
        >
          Franchise
          <svg class="button-arrow" width="12" height="12">
            <use href="./images/ice-cream-vectors.svg#button-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
