<section class="section address">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts-list list">
      <li class="contacts-list__item">
        <p class="contacts-list__category">CAFE</p>
        <address class="contacts-list__address">
          <div class="contacts-list__wrapper">
            <p class="contacts-list__location">Chicago</p>
            <a
              class="contacts-list__link link"
              href=""
              target="_blank"
              rel="noopener noreferrer"
              >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
            >
          </div>

          <ul class="contacts-time list">
            <li class="contacts-time__item">
              <p class="contacts-time__day">Monday - Friday</p>
              <time class="contacts-time__time" datetime="06:00 AM"
                >06:00 AM -
              </time>
              <time class="contacts-time__time" datetime="10:00 PM"
                >10:00 PM</time
              >
            </li>
            <li class="contacts-time__item">
              <p class="contacts-time__day">Saturday - Sunday</p>
              <time class="contacts-time__time" datetime="08:00 AM"
                >08:00 AM -
              </time>
              <time class="contacts-time__time" datetime="16:00 PM"
                >16:00 PM</time
              >
            </li>
          </ul>
          <ul class="contacts list">
            <li class="contacts__item">
              <a
                class="contacts__link link"
                href="tel:+61(0)38376684"
                class="link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts__item">
              <a
                class="contacts__link link"
                href="mailto:noreply@envato.com"
                class="link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <li class="contacts-list__item">
        <p class="contacts-list__category">FOODTRUCK</p>
        <address class="contacts-list__address">
          <div class="contacts-list__wrapper">
            <p class="contacts-list__location">Los Angeles</p>
            <a
              class="contacts-list__link link"
              href=""
              target="_blank"
              rel="noopener noreferrer"
              >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
            >
          </div>

          <ul class="contacts-time list">
            <li class="contacts-time__item">
              <p class="contacts-time__day">Monday - Friday</p>
              <time class="contacts-time__time" datetime="06:00 AM"
                >06:00 AM -
              </time>
              <time class="contacts-time__time" datetime="10:00 PM"
                >10:00 PM</time
              >
            </li>
            <li class="contacts-time__item">
              <p class="contacts-time__day">Saturday - Sunday</p>
              <time class="contacts-time__time" datetime="08:00 AM"
                >08:00 AM -
              </time>
              <time class="contacts-time__time" datetime="16:00 PM"
                >16:00 PM</time
              >
            </li>
          </ul>
          <ul class="contacts list">
            <li class="contacts__item">
              <a
                class="contacts__link link"
                href="tel:+61(0)38376684"
                class="link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts__item">
              <a
                class="contacts__link link"
                href="mailto:noreply@envato.com"
                class="link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <li class="contacts-list__item">
        <p class="contacts-list__category">CAFE</p>
        <address class="contacts-list__address">
          <div class="contacts-list__wrapper">
            <p class="contacts-list__location">New York</p>
            <a
              class="contacts-list__link link"
              href=""
              target="_blank"
              rel="noopener noreferrer"
              >726 Sterling Pl, Brooklyn, NY 11222, USA</a
            >
          </div>

          <ul class="contacts-time list">
            <li class="contacts-time__item">
              <p class="contacts-time__day">Monday - Friday</p>
              <time class="contacts-time__time" datetime="06:00 AM"
                >06:00 AM -
              </time>
              <time class="contacts-time__time" datetime="10:00 PM"
                >10:00 PM</time
              >
            </li>
            <li class="contacts-time__item">
              <p class="contacts-time__day">Saturday - Sunday</p>
              <time class="contacts-time__time" datetime="08:00 AM"
                >08:00 AM -
              </time>
              <time class="contacts-time__time" datetime="16:00 PM"
                >16:00 PM</time
              >
            </li>
          </ul>
          <ul class="contacts list">
            <li class="contacts__item">
              <a
                class="contacts__link link"
                href="tel:+61(0)38376684"
                class="link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts__item">
              <a
                class="contacts__link link"
                href="mailto:noreply@envato.com"
                class="link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
    </ul>
   <div class="button-wrapper">
    <button type="submit" class="button">Our Locations
      <svg class="button-arrow" width="12" height="12">
        <use href="./images/button-arrow.svg"></use>
      </svg>
    </button>
    <button type="submit" class="hollow-button">Franchise
      <svg class="button-arrow" width="12" height="12">
        <use href="./images/button-arrow.svg"></use>
      </svg>
    </button>
   </div>
  </div>
</section>
