<div class="footer__section container">
  <div class="footer__container">
    <!--tiitle div-->
    <div class="footer__title">
      <span class="footer__title--s">homemade ice cream made</span>
      <span class="footer__title--b">with passion</span>
    </div>
    <!--div address-->
    <div class="footer__address">
      <ul class="footer__list">
        <li>
          <a
            class="social__links link"
            href="https://github.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Git icon"
          >
            <svg class="socials__icon">
              <use href="./images/ice-cream-vectors.svg#git_icon"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="social__links link"
            href="https://web.telegram.org"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Telegram icon"
          >
            <svg class="socials__icon">
              <use href="./images/ice-cream-vectors.svg#telegram_icon"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="social__links link"
            href="https://uk-ua.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook icon"
          >
            <svg class="socials__icon">
              <use href="./images/ice-cream-vectors.svg#fcebook_icon"></use>
            </svg>
          </a>
        </li>
      </ul>
      <!--div contact-->
      <div class="list list__contact">
        <span class="list__contact--text"
          >Feel free to contact
          <a href="tel:+610383766284" class="link list__contact--tel"
            >+61 (0) 383 766 284
          </a></span
        >
      </div>
    </div>
  </div>
  <!--div bodrer-->
  <div class="">
    <p class=""></p>
  </div>
  <!--div rights-->
  <div class="footer__rights">
    <span class="footer__rights--title"
      >© 2022 - IceCream. All Rights Reserved.
    </span>
  </div>
</div>
