<section class="gallery container">
  <h2 class="visually-hidden">Photo-Gallery</h2>
  <div class="slideshow">
    <div class="slideshow__item">
      <picture>
        <source
          srcset="
            ./images/gallery/webp/img1_1013.webp 1013w,
            ./images/gallery/webp/img1_2026.webp 2026w
          "
          media="(min-width: 1200px)"
          sizes="(min-width: 1200px) 1013px"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/img1_1013.jpg 1013w,
            ./images/gallery/img1_2026.jpg 2026w
          "
          media="(min-width: 1200px)"
          sizes="(min-width: 1200px) 1013px"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/gallery/webp/img1_704.webp   704w,
            ./images/gallery/webp/img1_1408.webp 1408w
          "
          media="(min-width: 768px)"
          sizes="(min-width: 768px) 704px"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/img1_704.jpg   704w,
            ./images/gallery/img1_1408.jpg 1408w
          "
          media="(min-width: 768px)"
          sizes="(min-width: 768px) 704px"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/gallery/webp/img1_280.webp 280w,
            ./images/gallery/webp/img1_560.webp 560w
          "
          media="(max-width: 480px)"
          sizes="280px"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/img1_280.jpg 280w,
            ./images/gallery/img1_560.jpg 560w
          "
          media="(max-width: 480px)"
          sizes="280px"
          type="image/jpeg"
        />
        <img src="./images/gallery/img2_280.jpg" alt="Icecream" />
      </picture>
    </div>
    <div class="slideshow__item">
      <picture
        ><source
          srcset="
            ./images/gallery/webp/img7_1013.webp 1013w,
            ./images/gallery/webp/img7_2026.webp 2026w
          "
          media="(min-width: 1200px)"
          sizes="(min-width: 1200px) 1013px"
          type="image/webp" />
        <source
          srcset="
            ./images/gallery/img7_1013.jpg 1013w,
            ./images/gallery/img7_2026.jpg 2026w
          "
          media="(min-width: 1200px)"
          sizes="(min-width: 1200px) 1013px"
          type="image/jpeg" />
        <source
          srcset="
            ./images/gallery/webp/img7_704.webp   704w,
            ./images/gallery/webp/img7_1408.webp 1408w
          "
          media="(min-width: 768px)"
          sizes="(min-width: 768px) 704px"
          type="image/webp" />
        <source
          srcset="
            ./images/gallery/img7_704.jpg   704w,
            ./images/gallery/img7_1408.jpg 1408w
          "
          media="(min-width: 768px)"
          sizes="(min-width: 768px) 704px"
          type="image/jpeg" />
        <source
          srcset="
            ./images/gallery/webp/img7_280.webp 280w,
            ./images/gallery/webp/img7_560.webp 560w
          "
          media="(min-width: 480px)"
          sizes="280px"
          type="image/webp" />
        <source
          srcset="
            ./images/gallery/img7_280.jpg 280w,
            ./images/gallery/img7_560.jpg 560w
          "
          media="(min-width: 480px)"
          sizes="280px"
          type="image/jpeg" />
        <img src="./images/gallery/img7_280.jpg" alt="Icecream"
      /></picture>
    </div>
    <div class="slideshow__item">
      <picture
        ><source
          srcset="
            ./images/gallery/webp/img2_1013.webp 1013w,
            ./images/gallery/webp/img2_2026.webp 2026w
          "
          media="(min-width: 1200px)"
          sizes="(min-width: 1200px) 1013px"
          type="image/webp" />
        <source
          srcset="
            ./images/gallery/img2_1013.jpg 1013w,
            ./images/gallery/img2_2026.jpg 2026w
          "
          media="(min-width: 1200px)"
          sizes="(min-width: 1200px) 1013px"
          type="image/jpeg" />
        <source
          srcset="
            ./images/gallery/webp/img2_704.webp   704w,
            ./images/gallery/webp/img2_1408.webp 1408w
          "
          media="(min-width: 768px)"
          sizes="(min-width: 768px) 704px"
          type="image/webp" />
        <source
          srcset="
            ./images/gallery/img2_704.jpg   704w,
            ./images/gallery/img2_1408.jpg 1408w
          "
          media="(min-width: 768px)"
          sizes="(min-width: 768px) 704px"
          type="image/jpeg" />
        <source
          srcset="
            ./images/gallery/webp/img2_280.webp 280w,
            ./images/gallery/webp/img2_560.webp 560w
          "
          media="(min-width: 480px)"
          sizes="280px"
          type="image/webp" />
        <source
          srcset="
            ./images/gallery/img2_280.jpg 280w,
            ./images/gallery/img2_560.jpg 560w
          "
          media="(min-width: 480px)"
          sizes="280px"
          type="image/jpeg" />
        <img src="./images/gallery/img2_280.jpg" alt="Icecream"
      /></picture>
    </div>
    <div class="slideshow__item">
      <picture
        ><source
          srcset="
            ./images/gallery/webp/img3_1013.webp 1013w,
            ./images/gallery/webp/img3_2026.webp 2026w
          "
          media="(min-width: 1200px)"
          sizes="(min-width: 1200px) 1013px"
          type="image/webp" />
        <source
          srcset="
            ./images/gallery/img3_1013.jpg 1013w,
            ./images/gallery/img3_2026.jpg 2026w
          "
          media="(min-width: 1200px)"
          sizes="(min-width: 1200px) 1013px"
          type="image/jpeg" />
        <source
          srcset="
            ./images/gallery/webp/img3_704.webp   704w,
            ./images/gallery/webp/img3_1408.webp 1408w
          "
          media="(min-width: 768px)"
          sizes="(min-width: 768px) 704px"
          type="image/webp" />
        <source
          srcset="
            ./images/gallery/img3_704.jpg   704w,
            ./images/gallery/img3_1408.jpg 1408w
          "
          media="(min-width: 768px)"
          sizes="(min-width: 768px) 704px"
          type="image/jpeg" />
        <source
          srcset="
            ./images/gallery/webp/img3_280.webp 280w,
            ./images/gallery/webp/img3_560.webp 560w
          "
          media="(min-width: 480px)"
          sizes="280px"
          type="image/webp" />
        <source
          srcset="
            ./images/gallery/img3_280.jpg 280w,
            ./images/gallery/img3_560.jpg 560w
          "
          media="(min-width: 480px)"
          sizes="280px"
          type="image/jpeg" />
        <img src="./images/gallery/img3_280.jpg" alt="Icecream"
      /></picture>
    </div>
    <div class="slideshow__item">
      <picture
        ><source
          srcset="
            ./images/gallery/webp/img4_1013.webp 1013w,
            ./images/gallery/webp/img4_2026.webp 2026w
          "
          media="(min-width: 1200px)"
          sizes="(min-width: 1200px) 1013px"
          type="image/webp" />
        <source
          srcset="
            ./images/gallery/img4_1013.jpg 1013w,
            ./images/gallery/img4_2026.jpg 2026w
          "
          media="(min-width: 1200px)"
          sizes="(min-width: 1200px) 1013px"
          type="image/jpeg" />
        <source
          srcset="
            ./images/gallery/webp/img4_704.webp   704w,
            ./images/gallery/webp/img4_1408.webp 1408w
          "
          media="(min-width: 768px)"
          sizes="(min-width: 768px) 704px"
          type="image/webp" />
        <source
          srcset="
            ./images/gallery/img4_704.jpg   704w,
            ./images/gallery/img4_1408.jpg 1408w
          "
          media="(min-width: 768px)"
          sizes="(min-width: 768px) 704px"
          type="image/jpeg" />
        <source
          srcset="
            ./images/gallery/webp/img4_280.webp 280w,
            ./images/gallery/webp/img4_560.webp 560w
          "
          media="(min-width: 480px)"
          sizes="280px"
          type="image/webp" />
        <source
          srcset="
            ./images/gallery/img4_280.jpg 280w,
            ./images/gallery/img4_560.jpg 560w
          "
          media="(min-width: 480px)"
          sizes="280px"
          type="image/jpeg" />
        <img src="./images/gallery/img4_280.jpg" alt="Icecream"
      /></picture>
    </div>
    <div class="slideshow__item">
      <picture
        ><source
          srcset="
            ./images/gallery/webp/img5_1013.webp 1013w,
            ./images/gallery/webp/img5_2026.webp 2026w
          "
          media="(min-width: 1200px)"
          sizes="(min-width: 1200px) 1013px"
          type="image/webp" />
        <source
          srcset="
            ./images/gallery/img5_1013.jpg 1013w,
            ./images/gallery/img5_2026.jpg 2026w
          "
          media="(min-width: 1200px)"
          sizes="(min-width: 1200px) 1013px"
          type="image/jpeg" />
        <source
          srcset="
            ./images/gallery/webp/img5_704.webp   704w,
            ./images/gallery/webp/img5_1408.webp 1408w
          "
          media="(min-width: 768px)"
          sizes="(min-width: 768px) 704px"
          type="image/webp" />
        <source
          srcset="
            ./images/gallery/img5_704.jpg   704w,
            ./images/gallery/img5_1408.jpg 1408w
          "
          media="(min-width: 768px)"
          sizes="(min-width: 768px) 704px"
          type="image/jpeg" />
        <source
          srcset="
            ./images/gallery/webp/img5_280.webp 280w,
            ./images/gallery/webp/img5_560.webp 560w
          "
          media="(min-width: 480px)"
          sizes="280px"
          type="image/webp" />
        <source
          srcset="
            ./images/gallery/img5_280.jpg 280w,
            ./images/gallery/img5_560.jpg 560w
          "
          media="(min-width: 480px)"
          sizes="280px"
          type="image/jpeg" />
        <img src="./images/gallery/img5_280.jpg" alt="Icecream"
      /></picture>
    </div>
    <div class="slideshow__item">
      <picture
        ><source
          srcset="
            ./images/gallery/webp/img6_1013.webp 1013w,
            ./images/gallery/webp/img6_2026.webp 2026w
          "
          media="(min-width: 1200px)"
          sizes="(min-width: 1200px) 1013px"
          type="image/webp" />
        <source
          srcset="
            ./images/gallery/img6_1013.jpg 1013w,
            ./images/gallery/img6_2026.jpg 2026w
          "
          media="(min-width: 1200px)"
          sizes="(min-width: 1200px) 1013px"
          type="image/jpeg" />
        <source
          srcset="
            ./images/gallery/webp/img6_704.webp   704w,
            ./images/gallery/webp/img6_1408.webp 1408w
          "
          media="(min-width: 768px)"
          sizes="(min-width: 768px) 704px"
          type="image/webp" />
        <source
          srcset="
            ./images/gallery/img6_704.jpg   704w,
            ./images/gallery/img6_1408.jpg 1408w
          "
          media="(min-width: 768px)"
          sizes="(min-width: 768px) 704px"
          type="image/jpeg" />
        <source
          srcset="
            ./images/gallery/webp/img6_280.webp 280w,
            ./images/gallery/webp/img6_560.webp 560w
          "
          media="(min-width: 480px)"
          sizes="280px"
          type="image/webp" />
        <source
          srcset="
            ./images/gallery/img6_280.jpg 280w,
            ./images/gallery/img6_560.jpg 560w
          "
          media="(min-width: 480px)"
          sizes="280px"
          type="image/jpeg" />
        <img src="./images/gallery/img6_280.jpg" alt="Icecream"
      /></picture>
    </div>
  </div>
</section>
