<div class="container header-container">
  <a href="./index.html" class="logo__link">
    <img src="./images/header/logo_x1.png" alt="logo" />
  </a>
  <nav class="nav">
    <ul class="nav__list">
      <li><a class="nav__link link" href="">Home</a></li>
      <li><a class="nav__link link" href="">How it’s made?</a></li>
      <li><a class="nav__link link" href="">Our products</a></li>
      <li><a class="nav__link link" href="">Contact</a></li>
    </ul>
  </nav>
  <button class="btn" type="submit">Buy now</button>
</div>
