<section class="section">
  <div class="hero container">
    <h1 class="hero__title">ice cream made with passion</h1>
    <button type="button" class="button">Products</button>
    <a href="">How it’s made?</a>
    <ul>
      <li><span>16</span>cafes</li>
      <li><span>23</span>food trucks</li>
    </ul>
    <img 
    loading="lazy"
    src="./images/hero/hero_ic_l@1x_152.png" 
    srcset="
    ./images/hero/hero_ic_l@1x_152.png 152w,
    ./images/hero/hero_ic_l@2x_152.png 304w,
    ./images/hero/hero_ic_l@1x_225.png 225w,
    ./images/hero/hero_ic_l@2x_225.png 450w
    "
    sizes="
    (min-width: 1200px) 225px,
    (min-width: 768px) 152px, 100vw
    "
    alt="ice cream on dish">

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    <img 
    loading="lazy"
    src="./images/hero/hero_ic@1x_177.png" 
    srcset="
    ./images/hero/hero_ic@1x_177.png 177w,
    ./images/hero/hero_ic@2x_177.png 354w,
    ./images/hero/hero_ic_r@1x_268.png 268w,
    ./images/hero/hero_ic_r@2x_268.png 536w,
    ./images/hero/hero_ic_r@1x_456.png 456w,
    ./images/hero/hero_ic_r@2x_456.png 912w
    "
    sizes="
    (min-width: 1200px) 456px,
    (min-width: 768px) 268px,
    (min-width: 320px) 177px, 100vw
    "
    alt="ice cream in the cup">
  </div>
</section>