<section class="section hero divide" id="hero">
  <div class="container hero__container">
    <div class="hero__group">
      <h1 class="hero__title title">
        ice cream made with <span class="hero__title--passion">passion</span>
      </h1>
      <ul class="hero__chain">
        <li class="chain__item">
          <p class="chain__number">16</p>
          <p class="chain__text">cafes</p>
        </li>
        <li class="chain__item">
          <p class="chain__number">23</p>
          <p class="chain__text">food trucks</p>
        </li>
      </ul>
    </div>
    <ul class="hero__btn--group">
      <li>
        <a href="#products" class="hollow-button hollow-button__hero link"
          >Products</a
        >
      </li>
      <li><a href="#about" class="button-text">How it’s made?</a></li>
    </ul>
    <div class="hero__tablet--group">
      <img
        class="hero_ic--left animate__animated animate__rollIn"
        loading="lazy"
        src="./images/hero/hero_ic_l@1x_152.png"
        srcset="
          ./images/hero/hero_ic_l@1x_152.png 152w,
          ./images/hero/hero_ic_l@2x_152.png 304w,
          ./images/hero/hero_ic_l@1x_225.png 225w,
          ./images/hero/hero_ic_l@2x_225.png 450w
        "
        sizes="
              (min-width: 1200px) 225px,
              (min-width: 768px) 152px, 100vw
              "
        alt="ice cream on dish"
      />
      <div class="hero__text--group">
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="arrow__btn">
          <svg class="hero__arrow" width="40" height="14">
            <use href="./images/ice-cream-vectors.svg#arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <img
      class="hero_ic--right animate__animated animate__headShake"
      loading="lazy"
      src="./images/hero/hero_ic@1x_177.png"
      srcset="
        ./images/hero/hero_ic@1x_177.png   177w,
        ./images/hero/hero_ic@2x_177.png   354w,
        ./images/hero/hero_ic_r@1x_268.png 268w,
        ./images/hero/hero_ic_r@2x_268.png 536w,
        ./images/hero/hero_ic_r@1x_456.png 456w,
        ./images/hero/hero_ic_r@2x_456.png 912w
      "
      sizes="
            (min-width: 1200px) 456px,
            (min-width: 768px) 268px,
            (min-width: 320px) 177px, 55vw
            "
      alt="ice cream in the cup"
    />
</section>
