<div class="mobile-menu">
    <button
      class="mobile-menu__btn menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="" width="32" height="32">
        <use href=""></use>
      </svg>
    </button>

    <ul class="mobile-menu__list">
      <li class="mobile-menu__item"><a href="" class="mobile-menu__link link">Home</a></li>
      <li class="mobile-menu__item"><a href="" class="mobile-menu__link link">How it’s made?</a></li>
      <li class="mobile-menu__item"><a href="" class="mobile-menu__link link">Our products</a></li>
      <li class="mobile-menu__item"><a href="" class="mobile-menu__link link">Contact</a></li>
    </ul>
  </div>