<div class="mobile-menu menu-container js-menu-container" id="mobile-menu">
  <button
    class="mobile-menu__btn menu-toggle js-close-menu"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    <svg class="mobile-menu__icon" width="32" height="32">
      <use href="./images/ice-cream-vectors.svg#icon-mobile-menu-close"></use>
    </svg>
  </button>

  <ul class="mobile-menu__list">
    <li class="mobile-menu__item">
      <a href="" class="mobile-menu__link link">Home</a>
    </li>
    <li class="mobile-menu__item">
      <a href="" class="mobile-menu__link link streaming-link"
        >How it’s made?</a
      >
    </li>
    <li class="mobile-menu__item">
      <a href="" class="mobile-menu__link link">Our products</a>
    </li>
    <li class="mobile-menu__item">
      <a href="" class="mobile-menu__link link">Contact</a>
    </li>
  </ul>
</div>

<!-- Script for mobile-menu -->

<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
></script>
<script defer src="./index.js"></script>
