<div class="backdrop is-hidden" location-modal>
<div class="location">
  <button class="modal__close-btn button__cross" location-modal-close>
    <svg width="20" height="20" class="button__cross--icons">
      <use href="./images/ice-cream-vectors.svg#cross_icon"></use>
    </svg>
  </button>
  <b class="location__title">Our Locations</b>
  <iframe class="location__map" width="448" height="260"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30550.018826587206!2d34.51706645488545!3d49.60183320572277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d8260130b0cd4b%3A0xc6136cd2c6bdb09!2z0JrQuNGX0LIg0KLQoNCm!5e0!3m2!1suk!2sua!4v1671876550136!5m2!1suk!2sua"
    style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <a class="location__link link" target="_blank" rel="noopener noreferrer"
    href="https://www.google.com/maps/place/%D0%9A%D0%B8%D1%97%D0%B2+%D0%A2%D0%A0%D0%A6/@49.601151,34.531676,12z/data=!4m5!3m4!1s0x0:0xc6136cd2c6bdb09!8m2!3d49.6011514!4d34.5316758?hl=uk">Open
    map</a>
</div>
</div>