<!-- <button data-modal-open type="button" class="button" data-target="#myModal">
  Read More
</button> -->
<div class="backdrop is-hidden" data-modal>
  <div id="myModa" class="modal">
    <button
      data-modal-close
      class="modal__close-btn button__cross"
      data-target="#myModal"
    >
      <svg width="20" height="20" class="button__cross--icons">
        <use href="./images/ice-cream-vectors.svg#cross_icon"></use>
      </svg>
    </button>
    <p class="sub-title modal__title--read">How it’s made?</p>
    <iframe
      width="448"
      height="205"
      src="https://www.youtube.com/embed/oa_7fArLuLc?modestbranding=1&autohide=1&showinfo=0&controls=1"
      title="Ice Cream Making Process"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      class="modal__video"
    >
    </iframe>
    <p class="modal__text--read">
      Firstly, the core ingredients (milk, sugar, dairy or vegetable fat, water
      and any minor components such as stabilizers) are mixed together and
      blended in a well stirred mixing tank. This first operation makes sure
      that a uniform mixture of the right ingredients in the correct proportions
      is created and that any powders used are properly hydrated.
    </p>
  </div>
</div>
