<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal-btn" data-modal-open>
      <svg class="modal-icon" width="11" height="11">
        <use></use>
      </svg>
    </button>

    <div class="form-group">
      <strong class="str">Залиште свої дані, ми вам передзвонимо</strong>
      <form class="form" autocomplete="off">
        <div class="form-field">
          <input type="text" class="form-input" name="name" id="name">
          <label for="name" class="form-label">Ім'я</label>
          <span class="icon">
            <svg class="form__icon" width="12" height="12">
              <use></use>
            </svg>
          </span>
        </div>
        <div class="form-field">
          <input type="tel" class="form-input" name="tel" id="tel">
          <label for="tel" class="form-label">Телефон</label>
          <span class="icon">
            <svg class="form__icon" width="13" height="13">
              <use></use>
            </svg>
          </span>
        </div>
        <div class="form-field">
          <input type="email" class="form-input" name="email" id="email">
          <label for="email" class="form-label">Пошта</label>
          <span class="icon">
            <svg class="form__icon" width="15" height="12">
              <use></use>
            </svg>
          </span>
        </div>
        <div class="form-field comment">
          <textarea class="form-comment" name="comment" id="comment" placeholder="Введіть текст"></textarea>
          <label class="form-label comment" for="comment">Коментар</label>
        </div>
        <div class="checkbox-group">
          <input id="checkbox" class="checkbox" type="checkbox" name="checkbox">
          <label for="checkbox" class="checkbox-label">
            Погоджуюся з розсилкою та приймаю
            <a class="check-link" href=""> Умови договору</a>
          </label>
        </div>
      </form>
      <button class="submit-btn main-btn" type="submit">Відправити</button>
    </div>
  </div>
</div>