<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <div class="modal__container">
      <button type="button" class="modal-btn" data-modal-close>
        <svg class="modal-icon" width="20" height="20">
          <use href="./images/ice-cream-vectors.svg#cross_icon"></use>
        </svg>
      </button>

      <div class="form-group">
        <h2 class="str">Buy now</h2>

        <div class="form">
          <ul class="modal__list">
            <li class="modal__items green">
              <div class="modal__items-div">
                <img
                  class="buy-now__img"
                  loading="lazy"
                  src="./images/buy-now/img_cream@1x.png"
                  srcset="
                    ./images/buy-now/img_cream@1x.png 1x,
                    ./images/buy-now/img_cream@1x.png 2x
                  "
                  width="132"
                  height="132"
                  alt="Ice cream"
                />
                <div class="shadow-div shadow-div__green"></div>
                <p class="buy-now__text">ice cream</p>
                <div class="outline-div"></div>
              </div>
            </li>
            <li class="modal__items yellow">
              <div class="modal__items-div">
                <img
                  class="buy-now__img"
                  src="./images/buy-now/img_coffee@1x.png"
                  srcset="
                    ./images/buy-now/img_coffee@1x.png 1x,
                    ./images/buy-now/img_coffee@1x.png 2x
                  "
                  width="132"
                  height="132"
                  alt="ice coffee"
                />
                <div class="shadow-div shadow-div__yellow"></div>
                <p class="buy-now__text">ice coffee</p>
                <div class="outline-div"></div>
              </div>
            </li>
            <li class="modal__items">
              <div class="modal__items-div red">
                <img
                  class="buy-now__img"
                  src="./images/buy-now/img_shake@1x.png"
                  srcset="
                    ./images/buy-now/img_shake@1x.png 1x,
                    ./images/buy-now/img_shake@1x.png 2x
                  "
                  width="132"
                  height="132"
                  alt="milkshake"
                />
                <div class="shadow-div shadow-div__red"></div>
                <p class="buy-now__text">milkshake</p>
                <div class="outline-div"></div>
              </div>
            </li>
          </ul>

          <form class="form-field__wrapper">
            <div class="form-field">
              <input
                type="text"
                class="form-input formfield"
                name="customer-name"
                id="custom-name"
                placeholder="Name"
                required
                autocomplete="off"
                pattern="[A-Za-z]{3,15}"
              />
              <label for="custom-name" class="form-label">Name</label>
            </div>

            <div class="form-field">
              <input
                type="tel"
                class="form-input formfield"
                name="customer-phone"
                id="custom-tel"
                placeholder="Phone"
                required
                autocomplete="off"
                pattern="[0-9]{3,16}"
              />
              <label for="custom-tel" class="form-label">Phone</label>
            </div>

            <div class="form-field comment">
              <textarea
                class="form-comment formfield"
                name="customer-comment"
                id="custom-comment"
                autocomplete="off"
                placeholder="Comment"
              ></textarea>
              <label class="form-label comment" for="custom-comment"
                >Comment</label
              >
            </div>
            <button class="button submit__btn" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
