<div class="backdrop is-hidden ingredients-modal3" >
  <div class="ingredients">
    <!-- Clz Btn -->
    <button
      class="modal__close-btn ingredients__clz-btn ingredients-modal-close3"
      type="button"
      
    >
      <svg width="20" height="20">
        <use href="./images/ice-cream-vectors.svg#cross_icon"></use>
      </svg>
    </button>
    <h3 class="ingredients__title">Milkshake</h3>
    <div class="Ingredients__illustration red">
      <img
        class="Ingredients__image"
        src="./images/modal-ingredients/Ellipse69.png"
        srcset="./images/modal-ingredients/Ellipse69.png 1x,./images/modal-ingredients/Ellipse69@2x.png 2x"
        alt=" ice-cream illustration"
      />
    </div>
    <ul class="calories">
      <li class="calories__item calories__item--red">
        <span class="calories__weight calories-red">620</span>kcal
      </li>
      <li class="calories__item calories__item--red">
        <span class="calories__weight calories-red">20g</span>Protein...
      </li>
      <li class="calories__item calories__item--red">
        <span class="calories__weight calories-red">19g </span>Fats
      </li>
      <li class="calories__item calories__item--red">
        <span class="calories__weight calories-red">104g </span>Carbs
      </li>
    </ul>
    <h4 class="ingredients__dscr">Ingredients</h4>
    <div class="ingredients-list">
      <ul class="ingredients-list__product">
        <li class="ingredients-list__item">Milk</li>
        <li class="ingredients-list__item">Vanilla ice cream</li>
        <li class="ingredients-list__item">Vanilla extract</li>
        <li class="ingredients-list__item">Whipped cream</li>
        <li class="ingredients-list__item">White chocolate</li>
        <li class="ingredients-list__item">Mini cookies</li>
      </ul>
      <ul class="ingredients-list__weight">
        <li class="ingredients-list__item">250ml</li>
        <li class="ingredients-list__item">100g</li>
        <li class="ingredients-list__item">2 tsp</li>
        <li class="ingredients-list__item">30g</li>
        <li class="ingredients-list__item">20g</li>
        <li class="ingredients-list__item">15g</li>
      </ul>
    </div>
    <form >
      <div class="ingredients-form">
        <input
          class="formfield"
          type="text"
          name="Milkshake-order-Customer-Name"
          id="Milkshake-order-Name"
          placeholder="Name"
          required minlength="3"
          autocomplete="off"
        />
        <input
          class="formfield"
          type="tel"
          name="Milkshake-order-Phone_Number"
          id="Milkshake-order-tel"
          placeholder="Phone"
          autocomplete="off"
       required
        />
        <textarea
          class="ingredients-form__comments formfield"
          name="Milkshake-order-Comment"
          id="Milkshake-order-Comment"
          cols="5"
          rows="10"
          placeholder="Comment"
          required minlength="8"
          autocomplete="off"
        ></textarea>
      </div>
      <button type="submit" class="button ingredients__button">Submit</button>
    </form>
  </div>
</div>
