<div class="backdrop is-hidden" franchise-modal>
<div class="modal__franchise">
  <button class="modal__btn--close">
    <svg class="modal__icon" width="20" height="20" franchise-modal-close>
      <use href="./images/ice-cream-vectors.svg#cross_icon"></use>
    </svg>
  </button>
  <b class="franchise__label">Thank you for your interest in owning an Ice Cream shop</b>
  <p class="franchise__warning">Due to the overwhelming volume of franchise requests we are not accepting new
    franchisee applications at this time.
    Once
    the application process resumes, we will contact you for further information. Please fill out the contact
    information
    below and we will reach out for additional information. We appreciate your patience.</p>
  <form class="franchise__form" name="franchise__form">
    <input class="form__field formfield" type="text" name="user_name" id="user_name" autocomplete="off" placeholder="Name"  pattern="[A-Za-z]{3,15}">
    <input class="form__field formfield" type="tel" name="user_phone" id="user_phone" autocomplete="off" placeholder="Phone"  pattern="[0-9]{3,16}">
    <input class="form__field formfield" type="email" name="user_mail" id="user_mail" autocomplete="off" placeholder="Email"  pattern= "@[a-zA-Z0-9]">
    <textarea class="form__message formfield" name="user_message" id="user_message" autocomplete="off" placeholder="Comment"></textarea>
    <button class="franchise__btn button" type="submit">Submit</button>
  </form>
  
</div>
</div>