<section class="products section" id="products">
  <div class="container">
    <h2 class="products__title-label"
      >100% NATURAL</h2>
    <h1 id="products__title" class="products__title">PRODUCTS</h1>
    <ul class="products__examples">
      <li class="products__card-item ice-cream">
        <h2 class="products__examples-title">ICE CREAM</h2>
        <p class="products__examples-discription">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button class="products-btn" type="button" ingredients-modal-open>
          <svg  width="41" height="16">
            <use href="./images/ice-cream-vectors.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__card-item ice-coffee">
        <h2 class="products__examples-title">ICE COFFEE</h2>
        <p class="products__examples-discription">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button class="products-btn" type="button" ingredients-modal-open2>
          <svg  width="41" height="16">
            <use href="./images/ice-cream-vectors.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__card-item milkshakes">
        <h2 class="products__examples-title">MILKSHAKES</h2>
        <p class="products__examples-discription">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button  class="products-btn" type="button" ingredients-modal-open3>
          <svg  width="41" height="16">
            <use href="./images/ice-cream-vectors.svg#arrow"></use>
          </svg>
  
        </button>
      </li>
    </ul>
  </div>
</section>
