
<section class="products section">
    <div class="container">
        <h1 class="products__title">PRODUCTS</h1>
        <ul class="products__examples">
            <li class="products__card-item ice-cream">
                <h2 class="products__examples-title">ICE CREAM</h2>
                <p class="products__examples-discription">
                    Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
                </p>
                <button type="button">
                    <svg class="modal__icon" width="40" height="16">
						<use href="/src/images/button-arrow.svg"></use>
					</svg>
                </button>
            </li>
            <li class="products__card-item ice-coffee">
                <h2 class="products__examples-title">ICE COFFEE</h2>
                <p class="products__examples-discription">
                    Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers
                </p>
                <button type="button">
                    <svg class="modal__icon" width="40" height="16">
						<use href="/src/images/button-arrow.svg"></use>
					</svg>
                </button>
            </li>
            <li class="products__card-item milkshakes">
                <h2 class="products__examples-title">MILKSHAKES</h2>
                <p class="products__examples-discription">
                    Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice
                </p>
                <button type="button">
                    <svg class="modal__icon" width="40" height="16">
						<use href="/src/images/button-arrow.svg"></use>
					</svg>
                </button>
            </li>
        </ul>
    </div>
</section>